*{margin: 0;padding: 0;box-sizing: border-box}
main{
    display: flex;
    flex-wrap: wrap;
}
ul li{
    margin: 20px;
    
}




.cover{
    border: 1px solid black;
    width: 500px;
    margin: 20px;
}

.cover > img{
    width: 200px;
}
li img{
    width: 40px;
}