<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Boolflix</title>
    <!-- font awesame -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- vue cdn axios     -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- script -->
    <script src="js/main.js"></script>
</head>

<body>
    <div id="app">
        <!-- barra di ricerca -->
        <div>
            <input @keyUp.enter='getFilm' type="text" name="" v-model='searched' value="" id="search-box">
            <button id="cerca">cerca</button>
        </div>

        <main>
            <div class="cover" v-for='film in films'>
                <img :src="'https://image.tmdb.org/t/p/w342' + film.poster_path" alt="">
                <ul>
                    <li>title: {{film.title}}</li>
                    <li> original title: {{film.original_title}}</li>
                    <li> voto: {{film.vote_average}}</li>
                    <li class="lng"><img :src=" `../img/` + film.original_language 
                        + `.jpg`" :alt='film.original_language'></li>
                </ul>
            </div>
            <div class="cover" v-for='film in series'>
                <img :src="'https://image.tmdb.org/t/p/w342' + film.backdrop_path" alt="">
                <ul>
                    <li>title: {{film.name}}</li>
                    <li> original title: {{film.original_name}}</li>
                    <li> voto: {{film.vote_average}}</li>
                    <li class="lng">
                        <img :src=" `../img/` + film.original_language 
                        + `.jpg`" :alt='film.original_language'>
                    </li>
                </ul>
            </div>
        </main>

    </div>
</body>

</html>